# Virtual Environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/
data_64x64/
data_128x128/

# Model Checkpoints
checkpoints/
*.pth
*.pt

# Output Images & Plots
loss_curve.png
evaluation_sample*.png
generated_epoch_*.png

# Zipped Files
*.zip

# IDEs and Editors
.vscode/
.idea/
*.swp

# Evaluations and large checkpoints
evaluations/
*.ckpt

# Cloned dependencies
lama_finetuning/lama_repo/